<!-- About Me Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
					<p class="text-muted" style="margin-bottom: 0px; text-transform: none; font-family: Droid Serif; font-size: 16px; font-style: normal; font-weight: 400;">
						Hi, I'm Dominick Ta! (Most people call me Dom.) I'm a senior at UW and I'll be graduating with my B.A. in American Ethnic Studies and B.S. in Computer Science this upcoming spring! After that, I'll be coming back for the next school year to finish up my M.S. in Computer Science.</p>
					<p class="text-muted" style="margin-bottom: 75px; text-transform: none; font-family: Droid Serif; font-size: 16px; font-style: normal; font-weight: 400;">
					Welcome to my web portfolio where I document some of the experiences I've had at UW. Although this is part of my application towards the Husky 100, this portfolio also helps me reflect on everything that has happened these past 4 years. It's an opportunity for me to appreciate the people that have helped me grow and identify what I care most about. </p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mars fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pronouns</h4>
                    <p class="text-muted">He/Him/His</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Roles</h4>
                    <p class="text-muted">Community member, first-gen college student, engineer, researcher, and changemaker</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Areas of Study</h4>
                    <p class="text-muted">American Ethnic Studies, Computer Science, Diversity, Education, Public Policy</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Family Background</h4>
                    <p class="text-muted">Son of Vietnamese & Teochew immigrants and refugees, born and raised in South Seattle</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-handshake-angle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Passions</h4>
                    <p class="text-muted">Southeast Asian advocacy, teaching, working for equity within local community</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pastimes</h4>
                    <p class="text-muted">Relaxing with my dogs and cat, enjoying good food with friends and family, and searching for new experiences</p>
                </div>
            </div>

			<div class="row text-center">
				<div class="col-md-3">
				</div>
                <div class="col-md-3">
					<a href="docs/resume.pdf">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-doctor fa-stack-1x fa-inverse"></i>
                    </span>
					</a>
                    <h4 class="service-heading">Resume</h4>
                </div>
				<div class="col-md-3">
					<a href="docs/transcript.pdf">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-csv fa-stack-1x fa-inverse"></i>
                    </span>
					</a>
                    <h4 class="service-heading">Transcript</h4>
				</div>
				<div class="col-md-3">
				</div>
			</div>

            <div class="row text-center">
                <div class="col-md-4">
					<a href="https://www.instagram.com/yumhojiat/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-brands fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
					</a>
                    <h4 class="service-heading">Instagram</h4>
                </div>
                <div class="col-md-4">
					<a href="https://www.linkedin.com/in/dominickta/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-brands fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
					</a>
                    <h4 class="service-heading">LinkedIn</h4>
                </div>
                <div class="col-md-4">
					<a href="https://github.com/dominickta/">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
                    </span>
					</a>
                    <h4 class="service-heading">GitHub</h4>
                </div>
            </div>

        </div>
    </section>
