<!-- Timeline  Section -->
    <section id="timeline">
        <div class="container">
            <div class="row" >
                <div class="col-lg-12 text-center" >
                    <h2 class="section-heading">Turning Points</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom:0px;">An overview of significant points in my life. </h3>
                    <h3 class="section-subheading text-muted">I call these 'turning points' because they've shaped me in one way or the other, and impacted my ability to reach the next opportunity.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
					<div class="col-lg-12 text-center" style="margin-bottom:1cm;">
						<h3> 2018-2019 (Freshman year) </h2>
						<p class="section-subheading text-muted">	I dove into action during my first quarter of freshman year, which was completely different from my reserved self as a high school student. I was lucky to have met a role model early on that pushed me to get out of my comfort zone, saw potential in me, and showed me the power that we as university students had. By the end of this year, I had found a passion for community work and advocating for Southeast Asian youth, explored careers in engineering and business, and worked my first ever jobs.
						</p>
						<p></p>
					</div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/uwomad.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2018</h4>
                                    <h4 class="subheading">Dylan Tran & OMAD Recruiter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My high school friend Yuhaniz invited me to tag along to a random meeting and it changed the course of my next two years. I met Dylan Tran (Husky 100 in 2018!) who was advocating OMAD & VP Rickey Hall for funds to go towards hiring a Southeast Asian student recruiter. I was amazed at his tenacity and passion for change; this meeting wasn’t through any official university channels, but was initiated by Dylan himself. </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/risingseas.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019</h4>
                                    <h4 class="subheading">Rising SEAs Delegation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working with Dylan, Yuhaniz, and other new friends, we created a RSO called Rising Southeast Asians (SEAs) Delegation, a coalition of Southeast Asian UW students that would be working together to uplift high school and university Southeast Asian students.
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/costco.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2019</h4>
                                    <h4 class="subheading">Rejected from Costco HQ Internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I applied for a business internship at Costco headquarters but was rejected. The interviewer was kind enough to call me directly to let me know why I was rejected, and the reasoning was that he felt I needed more experience ‘talking and working with others’. Although it hurt, I took this feedback in stride.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/unitykickback.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">SEA Unity Kickback</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After several weeks of planning, Rising SEAs Delegation and myself hosted an event for Southeast Asian RSOs on campus to get connected and build solidarity. This was the first event of its kind and it was my first taste of doing work for the community.</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/avanti.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2019</h4>
                                    <h4 class="subheading">Started working at Avanti Sports</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After receiving the rejection from Costco, I realized that my job at UW Surplus wasn’t helping me grow enough. I decided to take a step outside my comfort zone and start working at a local tennis shop as a salesperson and racquet technician. Although I didn’t have experience, I learned quickly and this job gave me the skills and experience I needed for my future endeavors.</p>
                                </div>
                            </div>
                        </li>

					</ul>

				<div class="col-lg-12 text-center" style="margin-top:1cm; margin-bottom:1cm;">
					<h3> 2019-2020 (Sophomore year) </h2>
					<p class="section-subheading text-muted">Right before the school year started, I was accepted into the Computer Engineering major. This was a breath of fresh air and made me feel like I could finally prioritize the things I really cared about.
</h3>
				</div>

					<ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Acceptance into Computer Engineering</h4>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/uwkhsa.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2019</h4>
                                    <h4 class="subheading">Becoming a KhSA Officer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">	Yuhaniz, the same friend that introduced me to Dylan, also introduced me to the Khmer Student Association! Attending my first KhSA meeting was liberating and made me feel like I actually had a home on campus. In this meeting KhSA was announcing applications for a new Fundraising Chair position and with my experience as a salesperson, I felt like I was capable, so I applied and got the position!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/nwconf.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2020</h4>
                                    <h4 class="subheading">KhSA NW Conference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">	One of my first tasks was planning for the Northwest Conference, a huge annual conference for KhSAs around the country to come together. This was a ton of work planning for several workshops, coordinating with other organizations and guests, and finding funding, but in the end, it was worth it! We had 100+ participants, had amazing meaningful workshops that left people in tears, and we built new relationships that still last today.

</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2020</h4>
                                    <h4 class="subheading">Changed Majors</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Working on this conference was enough work that I had to drop my physics class in the middle of the quarter and switch my major from Computer Engineering to Computer Science. This was ultimately the best because this small change gave me the freedom I needed to prioritize future non-technical pursuits!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/khsascholarship.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2020</h4>
                                    <h4 class="subheading">KhSA Scholarship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">	One of my favorite tasks was leading the committee for our high school scholarship, where we gave out $1,000 to two Cambodian high school students in the state. It was a very privileged but also humbling position, as I was in charge of crafting essay questions and selection criteria for Cambodian students, even though I wasn’t Cambodian myself. It took a lot of care and consultation to make sure that my committee and I was able to make good choices and I learned a lot.


</p>
                                </div>
                            </div>
                        </li>



						<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/ppia.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2020</h4>
                                    <h4 class="subheading">PPIA Fellowship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was fortunate enough to be 1 out of 200 applicants to be selected as a Public Policy & International Affairs fellow at Carnegie Mellon University, a graduate prep program. I was able to further dive deep into what a career in public service would look like and I learned a ton. I was also the only student from a technical background which was intimidating but also taught me how important an interdisciplinary approach can be, which informed how I approach tasks today.
</p>
                                </div>
                            </div>
                        </li>

                    </ul>

				<div class="col-lg-12 text-center" style="margin-top:1cm; margin-bottom:1cm;">
					<h3> 2020-2021 (Junior year) </h2>
					<p class="section-subheading text-muted">	Coming into this school year, I decided that I wanted to settle down and focus on my career. And that meant trying to find a software engineering internship, and focusing on my computer science classes, and giving myself a break from extracurricular activities. 
</h3>
				</div>

				<ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/scn.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2020</h4>
                                    <h4 class="subheading">Seattle Community Network</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> This idea of ‘focusing only on my software engineering career’ quickly took a turn when I was referred to volunteer for the Seattle Community Network by a close friend. I realized that I could focus on Computer Science while still giving back to the community, and I took this opportunity and ran with it.

</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2021</h4>
                                    <h4 class="subheading">Accepted into CSE BS/MS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Working on this conference was enough work that I had to drop my physics class in the middle of the quarter and switch my major from Computer Engineering to Computer Science. This was ultimately the best because this small change gave me the freedom I needed to prioritize future non-technical pursuits!
</p>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/f5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2021</h4>
                                    <h4 class="subheading">F5 Software Engineering Internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 

</p>
                                </div>
                            </div>
                        </li>



				</ul>

				<div class="col-lg-12 text-center" style="margin-top:1cm; margin-bottom:1cm;">
					<h3> What Now?</h2>
					<p class="section-subheading text-muted">	Exploring teaching and focusing on myself. Learning to say no. I’ve had the time to figure out what my values are and what I enjoy, but I’ve also realized that I haven’t had a break in a long time. I haven’t had the opportunity to just be a student. To preserve myself for the rest of my life, I decided that this year I would take it slow.

</h3>
				</div>

				<ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2020</h4>
                                    <h4 class="subheading">KhSA NW Conference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">	One of my first tasks was planning for the Northwest Conference, a huge annual conference for KhSAs around the country to come together. This was a ton of work planning for several workshops, coordinating with other organizations and guests, and finding funding, but in the end, it was worth it! We had 100+ participants, had amazing meaningful workshops that left people in tears, and we built new relationships that still last today.

</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2020</h4>
                                    <h4 class="subheading">Changed Majors</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Working on this conference was enough work that I had to drop my physics class in the middle of the quarter and switch my major from Computer Engineering to Computer Science. This was ultimately the best because this small change gave me the freedom I needed to prioritize future non-technical pursuits!
</p>
                                </div>
                            </div>
                        </li>


				</ul>



                </div>
            </div>
        </div>
    </section>
