<!-- Timeline  Section -->
    <section id="timeline">
        <div class="container">
            <div class="row" >
                <div class="col-lg-12 text-center" >
                    <h2 class="section-heading">Turning Points</h2>
                    <p class="section-subheading text-muted" style="margin-bottom:0px;">
						My UW experience has been much more than an academic experience. I can confidently say that I grew much more as a person, than I did as a student. UW has connected me to endless opportunities and communities, enabling me to discover my strengths, understand my passions, and build a strong network of people I trust. The following are significant points in the past few years that have shaped me to who I am today.
					</p>
                </div>
            </div>

            <div class="row">
				<div class="col-lg-12 text-center" style="margin-bottom:1cm;">
						<h3> 2018-2019 (Freshman year) </h2>
						<p class="section-subheading text-muted">
						Entering freshman year, I was narrow-minded and preoccupied with achieving financial success, and college would be my tool to reach that. Art, ethnic studies, and activism were examples of areas I felt weren’t ‘practical’ or ‘useful’. These sentiments turned on its head soon after stepping onto campus, where I found myself spending hours on work I would’ve never expected myself doing.
						</p>
				</div>
			</div>

            <div class="row">
                <div class="col-lg-12">
					<ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/uwomad.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2018</h4>
                                    <h4 class="subheading">Dylan Tran & Southeast Asian  Recruiter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									I met Dylan Tran (Husky 100 in 2018!) at a random meeting advocating VP Rickey Hall to hire a Southeast Asian student recruiter. This meeting was initiated by Dylan himself, outside of official university channels. I was amazed at his tenacity and he taught me the power that youth could have to enact change.
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/risingseas.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019</h4>
                                    <h4 class="subheading">Rising SEAs Delegation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									With Dylan and new friends, we created an RSO called Rising Southeast Asians (SEAs) Delegation to uplift SEA high school and university students. We also learned Rickey Hall heeded our concerns and dedicated funding for a SEA recruiter!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/costco.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2019</h4>
                                    <h4 class="subheading">Rejected from Costco Business Internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									I was really excited about exploring business, but was rejected because I needed more experience ‘talking and working with others’. This was my first major failure and the feedback was demoralizing.
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/unitykickback.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Rising SEAs Unity Kickback</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									Seeing my hard work come to fruition was a magical experience. I ran into the event an hour late in awe, watching the crowds of SEAs mingling and building connections that they wouldn’t have otherwise. This was a turning point that made me want to seek further opportunities to foster community.
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/avanti.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2019</h4>
                                    <h4 class="subheading">Started Working at Avanti Sports</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									After the Costco rejection, I sought to improve my social skills. I started working at a local tennis shop as a salesperson which helped prepare me for future community organizing work!
</p>
                                </div>
                            </div>
                        </li>

					</ul>

				</div>

            <div class="row">
				<div class="col-lg-12 text-center" style="margin-top:1cm; margin-bottom:1cm;">
					<h3> 2019-2020 (Sophomore year) </h2>
					<p class="section-subheading text-muted">
					In freshman year, I dedicated a lot of time to Rising SEAs Delegation but it didn’t feel like work; this type of work gave me energy. My previous priorities of engineering and career were long gone. I wanted to seek more opportunities like this where I’d be able to have a bigger impact.
</h3>
				</div>
			</div>

            <div class="row">
                <div class="col-lg-12">
					<ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Acceptance into Computer Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
										This gave me a breath of fresh air and security that allowed me to focus the rest of my time on what I really cared about.
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/uwkhsa.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2019</h4>
                                    <h4 class="subheading">Becoming a KhSA Officer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									Through the Khmer Student Association (KhSA), I found a home on campus. I applied for an officer position because I felt like the skills I got from Rising SEAs Delegation and Avanti Sports would make me an asset.
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/nwconf.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2020</h4>
                                    <h4 class="subheading">KhSA NW Conference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									As a new officer, newcomer into KhSA, and a non-Khmer person, I felt a lot of pressure to prove my worth. My first task was planning this huge annual conference for KhSAs around the country to come together. Witnessing this come to fruition was another magical experience as I watched people build meaningful relationships that still last today.
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2020</h4>
                                    <h4 class="subheading">Dropped Physics 121 & Changed Majors</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
										Long story short, I'd skipped all my physics lectures to plan for the conference, so I had to drop physics. As a result, I switched my major to Computer Science and added a minor in Diversity. This gave me the freedom to take more ethnic studies classes and focus on things I really cared about!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/khsascholarship.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2020</h4>
                                    <h4 class="subheading">KhSA Scholarship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">		One of the most rewarding tasks was leading our high school scholarship program. It was a very humbling position, as I was in charge of crafting essay questions, selection criteria, and a committee for Cambodian students, even though I wasn’t Cambodian myself.
</p>
                                </div>
                            </div>
                        </li>



						<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/ppia.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2020</h4>
                                    <h4 class="subheading">PPIA Fellowship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									Acceptance into the highly selective Public Policy & International Affairs fellowship program at Carnegie Mellon University was affirmation that others saw my potential for public service. I was intimidated as a STEM student who’d never done work like this before. But at the end of the fellowship, my peers came together to surprise me with their own custom award of appreciation! This experience proved to myself that I was in the right place.
</p>
                                </div>
                            </div>
                        </li>

                    </ul>
				</div>

			<div class="row">
				<div class="col-lg-12 text-center" style="margin-top:1cm; margin-bottom:1cm;">
					<h3> 2020-2021 (Junior year) </h2>
					<p class="section-subheading text-muted">
						My sophomore year was full of excitement and intense, rewarding community work. But heading deep into the COVID-19 pandemic, I decided that I wanted to ‘settle down’ and focus on my career. That meant seeking an internship, focusing on school, and taking a break from extracurriculars.
</h3>
				</div>
			</div>

            <div class="row">
                <div class="col-lg-12">
				<ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/scn.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2020</h4>
                                    <h4 class="subheading">Seattle Community Network</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
										This ‘taking a break’ quickly took a turn when I stumbled upon Seattle Community Network. I realized I could do engineering while still giving back to the community! I took this opportunity and ran with it; for the next year, I spent countless hours doing research with the CS department, connecting with community organizations, setting up free Internet, and making a social impact!
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2021</h4>
                                    <h4 class="subheading">Accepted into CSE 5th Year Master’s Program</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									With the Seattle Community Network, I realized that I could pursue community work and engineering at the same time! This enables me to further explore the intersection of computer science and social good!
</p>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/f5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2021</h4>
                                    <h4 class="subheading">F5 Software Engineering Internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 

</p>
                                </div>
                            </div>
                        </li>

				</ul>
			</div>

            <div class="row">
				<div class="col-lg-12 text-center" style="margin-top:1cm; margin-bottom:1cm;">
					<h3> What Now?</h3>
					<p class="section-subheading text-muted">
						The past few years have been really rewarding but the workload has taken a toll on me. The pandemic has been hitting me and my family really hard. To preserve myself I’m finally taking things slow, setting myself up for long term success.
					</p>
				</div>
			</div>

            <div class="row">
                <div class="col-lg-12">
				<ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/aes.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Autumn 2021</h4>
                                    <h4 class="subheading">American Ethnic Studies Major</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									I knew that I'd like to serve marginalized communities in some form and having a holistic understanding of the backgrounds of those I’d like to serve is important to me. I am now pursuing a double degree in American Ethnic Studies and Computer Science!
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Autumn 2021</h4>
                                    <h4 class="subheading">CSE 351 Teaching Assistant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
										As a person with strong interest in becoming a teacher one day, this gave me a glimpse into what it’d be like!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/grad.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2022</h4>
                                    <h4 class="subheading">Graduate with American Ethnic Studies and Computer Science degree!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
</p>
                                </div>
                            </div>
                        </li>


                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/f5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2022</h4>
                                    <h4 class="subheading">F5 Software Engineering Internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/dominick-ucla-bear-pic.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Autumn 2022</h4>
                                    <h4 class="subheading">Final Year of School! </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/grad.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2023</h4>
                                    <h4 class="subheading">Graduate with M.S. in Computer Science!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/sky.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Future</h4>
                                    <h4 class="subheading">Engineering? Community Work? Public Policy? Teaching? PhD?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
									These past years at UW haven’t been part of some grand, carefully calculated plan. It's been a combination of lots of luck, learning from past experiences, and following my passions. I am now more than confident that with any future hurdle that comes at me, I will be able to adapt and take it in stride. Although I still don’t know what I want for my future, I know that I can trust myself to do what's right for me.
									</p>
                                </div>
                            </div>
                        </li>



				</ul>
                </div>

            </div>
        </div>
    </section>
