<!-- Timeline  Section -->
    <section id="timeline">
        <div class="container">
            <div class="row" >
                <div class="col-lg-12 text-center" >
                    <h2 class="section-heading">Turning Points</h2>
                    <p class="section-subheading text-muted" style="margin-bottom:0px;">
						My UW experience has been much more than an academic experience; I can confidently say that I grew much more as a person, than I grew as a student. The person I am today is almost unrecognizable from the person that I was 4 years ago as a high school senior. I now know what gives me energy and what type of work I naturally gravitate towards; I understand my passions.
					</p>
                    <p class="section-subheading text-muted">In the following section are significant turning points in the past few years that have shaped me to who I am today.
					</p>
                </div>
            </div>

            <div class="row">
				<div class="col-lg-12 text-center" style="margin-bottom:1cm;">
						<h3> 2018-2019 (Freshman year) </h2>
						<p class="section-subheading text-muted"> In the past, as a high school senior, I was narrow-minded. I was hyper focused on reaching financial success that I could achieve by pursuing STEM and getting a high salary. Things like art, poetry and ethnic studies are some of the things that I felt were useless distractors without much of a ‘real’ purpose. A lot of these sentiments turned on its head within weeks of stepping onto campus, where I found myself spending hours on work I would’ve never expected myself doing.
						</p>
				</div>
			</div>

            <div class="row">
                <div class="col-lg-12">
					<ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/uwomad.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2018</h4>
                                    <h4 class="subheading">Dylan Tran & Southeast Asian  Recruiter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My high school friend Yuhaniz invited me to tag along to a random meeting where I met Dylan Tran (Husky 100 in 2018!) who was advocating VP Rickey Hall to hire a Southeast Asian student recruiter. This meeting wasn’t through any official university channels, but was initiated by Dylan himself. I was amazed at his tenacity and passion for change; changing the course of my next two years.
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/risingseas.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019</h4>
                                    <h4 class="subheading">Rising SEAs Delegation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working with Dylan, Yuhaniz, and new friends, we created a new RSO called Rising Southeast Asians (SEAs) Delegation aimed to uplift Southeast Asian high school and university students. We also learned Rickey Hall heeded our concerns and dedicated funding for a SEA recruiter!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/costco.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2019</h4>
                                    <h4 class="subheading">Rejected from Costco HQ Internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was really interested in exploring business, but I was rejected because I needed more experience ‘talking and working with others’. This feedback hurt a lot but I took it in stride.
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/unitykickback.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">SEA Unity Kickback</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Organizing this event and witnessing people building new connections and learning new things was super rewarding and made me want to find more opportunities!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/avanti.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2019</h4>
                                    <h4 class="subheading">Started working at Avanti Sports</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After the Costco rejection, I took a step completely outside my comfort zone and started working at a local tennis shop as a salesperson! This job gave business and social skills that helped me with future community organizing work!
</p>
                                </div>
                            </div>
                        </li>

					</ul>

				</div>

            <div class="row">
				<div class="col-lg-12 text-center" style="margin-top:1cm; margin-bottom:1cm;">
					<h3> 2019-2020 (Sophomore year) </h2>
					<p class="section-subheading text-muted">In freshman year, it wasn’t unusual for me to spend upwards to 20 hours a week in meetings related to Rising SEAs Delegation. This work didn’t feel like work; this type of work gave me energy and I loved it! My previous priorities of engineering and career were long gone; I had only spent a few hours writing my application for the Computer Engineering major before submitting!
</h3>
				</div>
			</div>

            <div class="row">
                <div class="col-lg-12">
					<ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Acceptance into Computer Engineering</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> This acceptance gave me a breath of fresh air, security, and comfort that allowed me to focus for the rest of the year on things that I really cared about.
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/uwkhsa.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2019</h4>
                                    <h4 class="subheading">Becoming a KhSA Officer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">	Yuhaniz, the same friend that introduced me to Dylan, also introduced me to the Khmer Student Association! My first KhSA meeting was a liberating experience and made me feel like I actually had a home on campus. I applied for an officer position and got it!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/nwconf.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2020</h4>
                                    <h4 class="subheading">KhSA NW Conference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 	One of my first tasks was planning for the Northwest Conference, a huge annual conference for KhSAs around the country to come together. We had 100+ participants, had amazing meaningful workshops that left people in tears, and we built new relationships that still last today.
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2020</h4>
                                    <h4 class="subheading">Dropped Physics 121 & Changed Majors</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 	Long story short, I'd skipped too many physics lectures to plan for the conference, so I had to drop the class and switch my major to Computer Science. This gave me the freedom to take more ethnic studies classes and focus on things I really cared about!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/khsascholarship.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2020</h4>
                                    <h4 class="subheading">KhSA Scholarship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">		One of the most rewarding tasks was leading our high school scholarship program. It was a very humbling position, as I was in charge of crafting essay questions, selection criteria, and a committee for Cambodian students, even though I wasn’t Cambodian myself.
</p>
                                </div>
                            </div>
                        </li>



						<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/ppia.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2020</h4>
                                    <h4 class="subheading">PPIA Fellowship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Acceptance into the highly selective Public Policy & International Affairs fellowship program at Carnegie Mellon University was affirmation that others saw my potential for public service. I was the only student from a technical background which was intimidating, and I had never done work like this before. My successful completion of this fellowship affirmed to myself that I had the capabilities to pursue graduate school and become a public servant.
</p>
                                </div>
                            </div>
                        </li>

                    </ul>
				</div>

			<div class="row">
				<div class="col-lg-12 text-center" style="margin-top:1cm; margin-bottom:1cm;">
					<h3> 2020-2021 (Junior year) </h2>
					<p class="section-subheading text-muted"> My sophomore year was full of fun and excitement, along with a lot of rewarding community work. But heading deep into the COVID-19 pandemic, I decided that I wanted to ‘settle down’ and focus on my career. That meant seeking an engineering internship, finally focusing on my schoolwork, and giving myself a break from community work.
</h3>
				</div>
			</div>

            <div class="row">
                <div class="col-lg-12">
				<ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/scn.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2020</h4>
                                    <h4 class="subheading">Seattle Community Network</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 	This idea of taking a break from community work quickly took a turn when I stumbled upon Seattle Community Network. I realized that I could focus on Computer Science while still giving back to the community! I took this opportunity and ran with it. For the entire next year of the pandemic, I spent 20 hours a week doing research with the CS department, connecting with community organizations, setting up free Internet, and doing engineering work that had a social impact!
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2021</h4>
                                    <h4 class="subheading">Accepted into CSE BS/MS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> With the Seattle Community Network, I realized that I could pursue community work and engineering at the same time! I applied and was accepted to the master’s program so that I could spend more time researching the intersection of computer science and social good!
</p>
                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/f5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2021</h4>
                                    <h4 class="subheading">F5 Software Engineering Internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 

</p>
                                </div>
                            </div>
                        </li>

				</ul>
			</div>

            <div class="row">
				<div class="col-lg-12 text-center" style="margin-top:1cm; margin-bottom:1cm;">
					<h3> What Now?</h2>
					<p class="section-subheading text-muted"> The past few years have been really rewarding but have also been a ton of work that has taken a toll on me. The pandemic has been hitting me, my family, and my friends hard, and I have a lot of years left in my life. To preserve myself I’m taking things slow and focusing on one thing at a time. I’m investing in myself and setting up for long term successes.
</h3>
				</div>
			</div>

            <div class="row">
                <div class="col-lg-12">
				<ul class="timeline">

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/aes.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Autumn 2021</h4>
                                    <h4 class="subheading">American Ethnic Studies Major</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 	If I want to become a public servant in the future, it's important I have a holistic understanding of the backgrounds of those I’d like to serve. I am now pursuing a double degree in American Ethnic Studies and Computer Science with a minor in Diversity!
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/cse.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Autumn 2021</h4>
                                    <h4 class="subheading">CSE 351 Teaching Assistant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> I have a strong interest in becoming a teacher one day. As a teaching assistant in the Allen School I had gained a lot of experience and learned that I might be able to!
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/grad.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2022</h4>
                                    <h4 class="subheading">Graduate with American Ethnic Studies and Computer Science degree!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
</p>
                                </div>
                            </div>
                        </li>


                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/f5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2022</h4>
                                    <h4 class="subheading">F5 Software Engineering Internship</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Autumn 2022</h4>
                                    <h4 class="subheading">Final Year of School! </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/grad.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2023</h4>
                                    <h4 class="subheading">Graduate with M.S. in Computer Science</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/sky.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Future</h4>
                                    <h4 class="subheading">Engineering? Community Work? Teaching? PhD? M.S. in Public Policy?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 	Still not sure what I want to do and I’m okay with it! I’m looking forward to what the future has for me.
</p>
                                </div>
                            </div>
                        </li>



				</ul>
                </div>

            </div>
        </div>
    </section>
